.Header {
    text-align: left;
    margin-top: 65px;
    img {
        width: 25%;
    }
    h1 {
        margin: 35px 0px 8px 0px;
    }
    p {
        margin-top: 10px;
        color: #D2D0D0
    }
}